<h2> Create a new Entry: </h2>
<form class="" action="/health_entries/new" method="post">
    Content: <input type="text" name="content" value="">
    <input type="submit" name="" value="Create Entry">
</form>