SHOW PAGE FOR A HEALTH ENTRY

<p><%= @health_entry.content %></p>

Edit Link
<a href="/health_entries/<%= @health_entry.id %>/edit">Edit</a>

Delete Link
<a href="/health_entries/<%= @health_entry.id %>/delete">Delete</a>



