SHOW PAGE FOR A HEALTH ENTRY

<p><%= @health_entry.content %></p>

<% if current_user == @health_entry.user  %>
<a href="/health_entries/<%= @health_entry.id %>/edit">Edit</a>

Delete Link
<a href="/health_entries/<%= @health_entry.id %>/delete">Delete</a>



