SHOW PAGE FOR A HEALTH ENTRY

<p><%= @health_entry.content %></p>

<% if authorized_to_edit?(@health_entry) %>
<a href="/health_entries/<%= @health_entry.id %>/edit">Edit</a>


Delete Link
<% end %>


