Log In

<form class="" action="/login" method= "post">
Email: <input type="text" name="email" value="">
Password: <input type="text" name="password" value="">
<input type="submit" value="Login">
</form>
